<div class="movies-nav">
    <div class="movies-nav__item">
        <a class="movies-nav__link {% if active_movies_nav == 'all' %}movies-nav__link_active{% endif %}" href="/">
            All
        </a>
    </div>
    <div class="movies-nav__item">
        <a class="movies-nav__link {% if active_movies_nav == 'released' %}movies-nav__link_active{% endif %}"
           href="/released">
            Released
        </a>
    </div>
    <div class="movies-nav__item">
        <a class="movies-nav__link {% if active_movies_nav == 'not-released' %}movies-nav__link_active{% endif %}" href="#">
            Not released
        </a>
    </div>
    <div class="movies-nav__item">
        <a class="movies-nav__link {% if active_movies_nav == 'unknown' %}movies-nav__link_active{% endif %}" href="#">
            Unknown
        </a>
    </div>
</div>
