<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/movies.css' %}">
    <link rel="icon" type="image/png" href="/static/images/dvd-disc.png" />
    <title>{% block title %}The second premieres{% endblock title %}</title>
</head>
<body>
    <div class="container">
        {% block header %}
        {% endblock header %}

        {% block sidebar %}
        {% endblock sidebar %}

        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>

    </div>
</body>
</html>
