<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/movies.css' %}">
    <title>{% block title %}Movies{% endblock title %}</title>
</head>
<body>
    <div class="container">
        {% block header %}
        {% endblock header %}

        <nav>
            {% block nav %}
            {% endblock nav %}
        </nav>

        <div class="update-buttons">
            {% block update-buttons %}
            {% endblock update-buttons %}
        </div>

        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>

        <footer>
            {% block footer %}
            <table align="center">
                <tr>
                    <td>
                        <a href="https://www.themoviedb.org">
                            <img src="/static/images/408x161-tmdb-rectangle-green.png" alt="TMDB logo">
                        </a>
                    </td>
                    <td>This product uses the TMDb API but is not endorsed or certified by TMDb.</td>
                </tr>
            </table>
            <!--TODO: Icon made by [author link] from www.flaticon.com -->
            {% endblock %}
        </footer>

    </div>
</body>
</html>
