<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/movies.css' %}">
    <title>{% block title %}Movies{% endblock title %}</title>
</head>
<body>
    <div class="container">
        {% block header %}
        {% endblock header %}

        {% block movies-nav %}
        {% endblock movies-nav %}

        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>

        <div class="footer">
            <div class="footer__credits">
                <div class="footer__credits-icon-container">
                    <a href="https://www.themoviedb.org">
                        <img class="footer__credits-icon"
                             src="/static/images/408x161-tmdb-rectangle-green.png"
                             height="30"
                             alt="TMDB logo">
                    </a>
                </div>
                <div class="footer__credits-text">
                    This product uses the TMDb API but is not endorsed or certified by TMDb.
                </div>
            </div>
            <div class="footer__credits">
                <div class="footer__credits-text">
                    Icons made by
                    <a class="footer__link" href="https://www.flaticon.com/authors/freepik">freepik</a>,
                    <a class="footer__link" href="https://www.flaticon.com/authors/smashicons">smashicons</a>,
                    <a class="footer__link" href="https://www.flaticon.com/authors/google" title="Google">Google</a>
                    from <a class="footer__link" href="https://www.flaticon.com">www.flaticon.com</a>
                    is licensed by <a class="footer__link"
                                      href="http://creativecommons.org/licenses/by/3.0/"
                                      title="Creative Commons BY 3.0"
                                      target="_blank">CC 3.0 BY</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
