{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/movies.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/movies">Повторные премьеры</a></h1>
        </div>
        <h1>Есть даты:</h1>
        <ul>
        {% for movie in dvd_releases %}
            <li>"{{ movie.title }}" : {{ movie.dvd_release_date }},
                updated: {{ movie.update_date }}</li>
        {% endfor %}
        </ul>

        <h1>Нет дат:</h1>
        <ul>
        {% for movie in unknown_dvd_releases %}
            <li>"{{ movie.title }}",
                причина : {{ movie.dvd_release_date_status }},
                updated: {{ movie.update_date }}</li>
        {% endfor %}
        </ul>

        <form action="{% url 'movies:update' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Update" />
        </form>
    </body>
</html>