html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #f7f7f7;
}
.main-panel {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 40px;
	background-color: #eee;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
	padding-left: 10px;
	border-top: 3px solid #475777;
	border-bottom: 1px solid #ddd;
}

.nav {
	display: flex;
	font-weight: bold;
	align-items: center;
}
.nav__item {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
.nav__item_active {
	border-bottom: 2px solid #475777;
}
.nav__link {
	text-decoration: none;
	color: #242830;
}
.nav__link:hover {
	color: #a9c0e8;
}
.nav__link_active {
	color: #475777;
}
.nav__logo-container {
	display: flex;
}
.nav__logo {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.toolbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
}
.toolbox__item {
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
}
.toolbox__icon {
	width: 20px;
	height: 20px;
}
.toolbox__divider {
	width: 2px;
	height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #d8d8d8;
}

.movies-nav {
	position: fixed;
    float: left;
    display: flex;
    flex-direction: column;
}
.movies-nav__link {
	display: block;
	height: 30px;
	padding-top: 20px;
	padding-left: 30px;
	text-decoration: none;
	color: #242830;
	text-align: left;
	font-weight: bold;
}
.movies-nav__link:hover {
	color: #a9c0e8;
}
.movies-nav__link_active {
	color: #196afc;
}

.container {
    min-height: 100%;
    position: relative;
    margin-top: 50px;
}

.content {
    margin-left: 270px;
    padding-left: 10px;
    padding-right: 10px;
    /*padding-top: 60px;*/
    padding-bottom: 200px;
}
.content table {
    border-collapse: collapse;
    width: 80%;
    margin: 5px;
}
.known-dates-table tr:hover {
    background-color: lightgreen;
}
.unknown-dates-table tr:hover {
    background-color: darkred;
    color: white;
}
.content th {
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: #236161;
    color: lightgray;
}
.content td {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 5px;
}
.movie-col {
    text-align: left;
}
.updated-col {
    text-align: right;
}
.date-col {
    text-align: left;
}
.release-col {
    text-align: left;
}

.update-buttons {
    float: right;
}

.update-buttons input[type=submit] {
    background: darkcyan;
    border-radius: 0;
    border: 2px solid #2e6f69;
    padding: 5px;
    margin: 10px;
    width: 100px;
    height: 40px;
    color: black;
}

.update-buttons input[type=submit]:hover {
    color: wite;
    background-color: lightcyan;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    padding-top: 10px;
    background-color: #eee;
    text-align: center;
    color: #242830;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__credits {
	display: flex;
	align-items: center;
}
.footer__credits-icon-container {
	margin-right: 10px;
}
.footer__credits-icon {
	height: 30px;
}
.footer__credits-text {
}
.footer__link {
	color: #242830;
}
.footer__link:visited {
	color: #a2a6ad;	
}
