body {
    font-family: 'Lato', sans-serif;
    background-color: #f7f7f7;
}
h1 {

}
.page-header {
    height: 70px;
    background-color: #021921;
    padding: 10px;
    padding-left: 30px;
    color: lightgrey;
}
.header-title {
    float: top;
}
.header-user {
    float: right;
}
.header-user a {
    text-decoration: none;
    color: lightblue;
}
.header-user a:visited {
    color: lightblue;
}
.login-box {
    padding: 5px;
    float: right;
}
.hello-box {
    padding: 5px;
}
nav {
    padding: 0;
    width: 200px;
    float: left;
    background-color: #323546;
}
nav ul {
    padding: 0;
}
nav li {
    list-style-position: inside;
    padding: 10px;
    padding-left: 30px;
    margin: 0;
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: lightgrey;
}
.content {
    margin-left: 220px;
}
.content table {
    border-collapse: collapse;
    width: 80%;
    margin: 5px;
}
.known-dates-table tr:hover {
    background-color: lightgreen;
}
.unknown-dates-table tr:hover {
    background-color: darkred;
    color: white;
}
.content th {
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: #236161;
    color: lightgray;
}
.content td {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 5px;
}
.movie-col {
    text-align: left;
}
.updated-col {
    text-align: right;
}
.date-col {
    text-align: left;
}
.release-col {
    text-align: left;
}

.update-buttons {
    float: right;
}

.update-buttons input[type=submit] {
    background: darkcyan;
    border-radius: 0;
    border: 2px solid #2e6f69;
    padding: 5px;
    margin: 10px;
    width: 100px;
    height: 40px;
    color: black;
}

.update-buttons input[type=submit]:hover {
    color: wite;
    background-color: lightcyan;
}

footer {
  padding: 10px;
  margin-top: 50px;
  background-color: #efefef;
  text-align: center;
  color: darkgrey;
  font-size: 12px;
}

footer img {
    height: 30px;
}

footer td {
    padding: 3px;
}
